.container {
    width: 80vw;
    height: auto;
    margin: 70px auto;
}

.container p {
    margin-top: 100px;
    font-family: "Rubik",sans-serif;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.8px;
}

.blogs-container{
    /* background-color: lightgrey; */
    width: 100%;
    height: 100%;
    margin-top: 15px;
    padding: 1rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}